<div class="container">
<%= form_with model: @genre,url: admin_genre_path do |f| %>
 <h4>ジャンル編集</h4>
<div class="row">
    <div class="form-group col-md-2">
<label for="name">ジャンル名</label></div>
 <div class="form-group col-md-2">
<%= f.text_field :name %></div>
 <div class="form-group col-md-2 text-center">
<%= f.submit '変更を保存', class: "btn btn-success btn-sm" %></div>
</div>
 <% end %>
 </div>

